.mobile {
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: $white-color;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    animation: faceMenuMobile linear 1s;
    overflow-y: auto;

    &-btn {
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 1.2rem;
      padding-right: 12px;
      margin-left: 0;
      margin-right: 0;
      width: 15%;
      height: 100%;
      margin-left: auto;
      text-align: end;
      transform: rotate(0);
      &--up {
        transform: rotate(-183deg);
      }
    }

    ul {
      margin-top: 20px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin-left: 0;
        border-bottom: 1px solid rgba($color: $black-color, $alpha: 0.4);
        padding: 15px 0 18px 15px;
        display: flex;
        flex-wrap: wrap;

        &:first-child,
        &:last-child {
          padding: 15px 0 18px 15px;
        }

        &::after {
          height: 1px;
          display: block;
          background-color: rgba($color: $black-color, $alpha: 0.4);
        }

        &:hover::after {
          display: none;
        }

        a {
          flex: 1;
          font-size: 1rem;
          display: flex;
          align-items: center;
        }
      }
    }

    &__dropdown {
      width: 100%;

      .header__menu__dropdown__wrapper {
        box-shadow: none;
      }
    }

    &__close {
      position: fixed;
      top: 12px;
      right: 15px;
      z-index: 50;
      font-size: 1.6rem;
      color: $white-color;
    }
  }

  &__overlay {
    z-index: 19;
  }
  &__heading {
    padding: 20px 0 20px 18px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid rgba($color: $black-color, $alpha: 0.5);
  }
}
.header__bar__mobile__contact {
  padding: 0 20px;
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;

      &:last-child {
        margin-top: 12px;
      }
      span {
        font-size: 1.2rem;

        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }
}
