// trang chủ và trang sản phẩm

// mobile
@media screen and (max-width: 767.98px) {
  .app {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header {
    &__container {
      &__logo {
        &-link {
          margin-left: 18px;
          width: 102px;
          height: 45px;
        }
      }
    }

    &__bar {
      &__container {
        min-height: 50px;
      }
      &__mobile__warpper {
        ul {
          li {
            display: flex;
            align-items: end;
            span:first-child {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  .banner {
    &__main {
      height: 180px;
    }
  }
  .directory {
    &__list {
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // product - responsive
  .product {
    margin-top: 4rem;

    &:nth-last-of-type(even) {
      .product__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px 8px;
      }
    }
    &:nth-last-of-type(odd) {
      .product__list {
        padding: 0 0;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px 8px;
      }
    }
    &__wrapper {
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);

      &__image {
        height: 210px;
      }

      &__ima:hover &__image {
        transform: scale(1);
      }
    }

    &__service {
      margin-top: 20px;
      border-top-right-radius: 0;
      flex-direction: column;

      &__wrapper {
        &:first-child {
          width: 100%;
        }
      }

      &__main {
        padding-left: 0;
        padding-right: 0;

        &__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 8px;
        }
      }
    }
  }
  .outstanding__product {
    margin-top: 30px;

    &__list {
      padding: 0 0;
      flex-wrap: wrap;
    }
    &__item {
      margin-top: 20px;
      width: 100%;
    }
  }

  //
  .footer {
    &__main {
      &__logo {
        width: 100%;
      }
      &__list {
        flex-direction: column;

        &-item {
          margin-left: 0;
          margin-top: 30px;
          width: 100% !important;

          &:first-child {
            margin-top: 0;
          }
        }

        &__war {
          width: 100%;
        }
      }
    }
  }

  // intro - responsive
  .intro {
    margin-top: 20px;

    &__heading {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    span {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }

  .backtop {
    right: 15px;
    bottom: 60px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}

// pc và loptop
@media screen and (min-width: 1023.98px) {
  .mobile__menu,
  .mobile__overlay,
  .mobile__menu__close {
    display: none;
  }
}

// Trang/pages

@import "responsives/contact"; // liên hệ
@import "responsives/detall"; // detail
@import "responsives/rpvblog"; // blog
